@model IEnumerable<VgcCollege.Domain.Entities.Exam>

@{
    ViewData["Title"] = "Exams";
    var facultyId = ViewBag.FacultyId;
}

<h2>Exams</h2>

<p>
    <a asp-action="AddExam" asp-route-facultyId="@facultyId" class="btn btn-success">Add New Exam</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Exam Date</th>
            <th>Total Marks</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in Model)
        {
            <tr>
                <td>@exam.Title</td>
                <td>@exam.Date.ToShortDateString()</td>
                <td>@exam.MaxScore</td>
                <td>@exam.Course?.Name</td>
            </tr>
        }
    </tbody>
</table>