@model VgcCollege.Domain.Entities.FacultyProfile

@{
    ViewData["Title"] = "Faculty Dashboard";
}

<h2>Faculty Dashboard</h2>


<ul>
    <li>
        <a asp-action="MyCourses" asp-route-id="@Model.Id">My Courses</a>
    </li>
    <li>
        <a asp-action="AddAssignment" asp-route-facultyId="@Model.Id">Add Assignment</a>
    </li>
    <li>
        <a asp-action="Assignments" asp-route-facultyId="@Model.Id">View Assignments</a>
    </li>
    <li>
        <a asp-action="AddExam" asp-route-facultyId="@Model.Id">Add Exam</a>
    </li>
    <li>
        <a asp-action="Exams" asp-route-facultyId="@Model.Id">View Exams</a>
    </li>
</ul>